<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quye.mapper.ExperiencePassMapper">

    <select id="queryPassesOfPlace" resultType="com.quye.entity.ExperiencePass" parameterType="java.lang.Long">
        SELECT
            v.`id`, v.`place_id`, v.`title`, v.`sub_title`, v.`rules`, v.`pay_value`,
            v.`actual_value`, v.`type`, sv.`stock` AS stock, sv.`begin_time` AS beginTime, sv.`end_time` AS endTime
        FROM tb_experience_pass v
        LEFT JOIN  tb_flash_pass sv ON v.id = sv.pass_id
        WHERE v.place_id = #{placeId} AND v.status = 1
    </select>
</mapper>
